.footer-list {
   display: flex;
   flex-direction: column;

   li {
       color: gray;
   }
}


.bg-custom {
    background-image: url('../../img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-gray {
    background-color: gray;
}

.custom-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list-bottom {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 30px;
}

.p-1 {
    color: gray;
}